.post-card {
    background-color: rgb(76, 118, 74);
    max-width: 800px;
    margin: 40px auto;
  }

.post-button {
    background-color: rgb(130, 165, 177);
}

.post-button:hover {
    background-color: rgb(27, 120, 151);
}